.personas {
    background-color: rgb(151, 151, 151);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
    border-radius: 5px;
}

.persona {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: blanchedalmond;
    margin: 5px;
    padding: 5px;
}
