.novedad {
    background-color: blanchedalmond;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

.novstit {
    background-color: rgb(151, 151, 151);
    border-radius: 5px;
    padding: 5px;
}