footer {
    background-color: rgb(44, 44, 44);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 3px solid rgb(164, 164, 164);
}