body {
  font-family: 'Open Sans', sans-serif;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}
h1 {
  padding: 10px;
}

h2 {
  color: rgb(255, 65, 65); border-bottom: 10px double rgb(255, 65, 65);
}
h3 {
  color: rgb(255, 65, 65);
}

h4 {
  color: rgb(255, 65, 65);
}

#root{
  width: 100%;
}
.caja{
  width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}